<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinosoft.ie.booster.workflow.mapper.FlowTaskOperatorRecordMapper">

	<resultMap id="flowTaskOperatorRecordMap" type="com.sinosoft.ie.booster.workflow.entity.FlowTaskOperatorRecordEntity">
		<id property="id" column="id"/>
		<result property="nodeCode" column="node_code"/>
		<result property="nodeName" column="node_name"/>
		<result property="handleStatus" column="handle_status"/>
		<result property="handleId" column="handle_id"/>
		<result property="handleTime" column="handle_time"/>
		<result property="handleOpinion" column="handle_opinion"/>
		<result property="taskOperatorId" column="task_operator_id"/>
		<result property="taskNodeId" column="task_node_id"/>
		<result property="taskId" column="task_id"/>
	</resultMap>
</mapper>
