<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinosoft.ie.booster.workflow.mapper.FormDebitBillMapper">

	<resultMap id="formDebitBillMap" type="com.sinosoft.ie.booster.workflow.entity.FormDebitBillEntity">
		<id property="id" column="id"/>
		<result property="flowId" column="flow_id"/>
		<result property="flowTitle" column="flow_title"/>
		<result property="flowUrgent" column="flow_urgent"/>
		<result property="billNo" column="bill_no"/>
		<result property="departmental" column="departmental"/>
		<result property="applyDate" column="apply_date"/>
		<result property="staffName" column="staff_name"/>
		<result property="staffPost" column="staff_post"/>
		<result property="staffId" column="staff_id"/>
		<result property="loanMode" column="loan_mode"/>
		<result property="amountDebit" column="amount_debit"/>
		<result property="transferAccount" column="transfer_account"/>
		<result property="repaymentBill" column="repayment_bill"/>
		<result property="teachingDate" column="teaching_date"/>
		<result property="paymentMethod" column="payment_method"/>
		<result property="reason" column="reason"/>
	</resultMap>
</mapper>
