<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinosoft.ie.booster.workflow.mapper.FormDocumentApprovalMapper">

	<resultMap id="formDocumentApprovalMap" type="com.sinosoft.ie.booster.workflow.entity.FormDocumentApprovalEntity">
		<id property="id" column="id"/>
		<result property="flowId" column="flow_id"/>
		<result property="flowTitle" column="flow_title"/>
		<result property="flowUrgent" column="flow_urgent"/>
		<result property="billNo" column="bill_no"/>
		<result property="fileName" column="file_name"/>
		<result property="draftedPerson" column="drafted_person"/>
		<result property="serviceUnit" column="service_unit"/>
		<result property="filePreparation" column="file_preparation"/>
		<result property="fileNum" column="file_num"/>
		<result property="receiptDate" column="receipt_date"/>
		<result property="fileJson" column="file_json"/>
		<result property="modifyOpinion" column="modify_opinion"/>
	</resultMap>
</mapper>
