<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinosoft.ie.booster.workflow.mapper.FormPostBatchTableMapper">

	<resultMap id="formPostBatchTableMap" type="com.sinosoft.ie.booster.workflow.entity.FormPostBatchTableEntity">
		<id property="id" column="id"/>
		<result property="flowId" column="flow_id"/>
		<result property="flowTitle" column="flow_title"/>
		<result property="flowUrgent" column="flow_urgent"/>
		<result property="billNo" column="bill_no"/>
		<result property="fileTitle" column="file_title"/>
		<result property="draftedPerson" column="drafted_person"/>
		<result property="sendUnit" column="send_unit"/>
		<result property="writingNum" column="writing_num"/>
		<result property="writingDate" column="writing_date"/>
		<result property="shareNum" column="share_num"/>
		<result property="fileJson" column="file_json"/>
		<result property="description" column="description"/>
	</resultMap>
</mapper>
