<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinosoft.ie.booster.workflow.mapper.FormReceiptSignMapper">

	<resultMap id="formReceiptSignMap" type="com.sinosoft.ie.booster.workflow.entity.FormReceiptSignEntity">
		<id property="id" column="id"/>
		<result property="flowId" column="flow_id"/>
		<result property="flowTitle" column="flow_title"/>
		<result property="flowUrgent" column="flow_urgent"/>
		<result property="billNo" column="bill_no"/>
		<result property="receiptTitle" column="receipt_title"/>
		<result property="department" column="department"/>
		<result property="collector" column="collector"/>
		<result property="fileJson" column="file_json"/>
		<result property="receiptPaper" column="receipt_paper"/>
		<result property="receiptDate" column="receipt_date"/>
	</resultMap>
</mapper>
