#set($serviceName = "${genInfo.toLowerAttr(${table.serviceName})}")
#set($Name = "${genInfo.toUpperAttr(${genInfo.className})}")
#set($name = "${genInfo.toLowerAttr(${genInfo.className})}")
#set($packName = "${name.toLowerCase()}")
#set($searchListSize =$!{searchList})
package ${package.Service};

#foreach($tableModel in ${genInfo.dbTableRelation})
#foreach($subfield in ${subtables})
#if(${tableModel.table}==${subfield.subKey})
    #set($ChildName="${genInfo.toUpperAttr(${subfield.subValue})}")
    #set($childName="${genInfo.toLowerAttr(${subfield.subValue})}")
import ${package.Entity}.${ChildName}Entity;
import ${package.Service}.${ChildName}Service;
#end
#end
#end
import ${package.Entity}.${table.entityName};
import ${superServiceClassPackage};
#if(${main})
#if($hasPage == true)
import ${packageName}.model.${packName}.${Name}Pagination;
#elseif($searchListSize.size()>0)
import ${packageName}.model.${packName}.${Name}ListQuery;
#end
import java.util.*;
#end

/**
 *
 * ${genInfo.description}
 * 版本： ${genInfo.version}
 * 作者： ${genInfo.createUser}
 * 日期： ${genInfo.createDate}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${table.entityName}> {

#if(${main})
    #set($peimaryKeyname = "${genInfo.toLowerAttr(${pKeyName})}")
    #if($hasPage == true)
    List<${table.entityName}> getList(${Name}Pagination ${name}Pagination);

    List<${table.entityName}> getTypeList(${Name}Pagination ${name}Pagination,String dataType);

    #elseif($searchListSize.size()>0)
    List<${table.entityName}> getList(${Name}ListQuery  ${name}ListQuery);

    List<${table.entityName}> getTypeList(${Name}ListQuery  ${name}ListQuery,String dataType);

    #else
    List<${table.entityName}> getList();

    #end

    #foreach($grid in ${genInfo.indexGridEntry})
      List<${table.entityName}> get${grid.className}List(String ${pKeyName.toLowerCase()});
    #end

    ${table.entityName} getInfo(Long ${peimaryKeyname});

    void delete(${table.entityName} entity);

    void create(${table.entityName} entity);

    boolean update( Long ${peimaryKeyname}, ${table.entityName} entity);
    
//  子表方法
    #foreach($subfield in ${subtables})
        #set($ChildName="${genInfo.toUpperAttr(${subfield.subValue})}")
        #set($childName="${genInfo.toLowerAttr(${subfield.subValue})}")
    List<${ChildName}Entity> get${ChildName}EntityList() ;

    #end
#end
}
