#set($name = "${context.genInfo.toLowerAttr(${context.className})}")
#set($pKeyName =${context.pKeyName.toLowerCase()})
#set($peimaryKeyName = "${context.genInfo.toUpperAttr(${pKeyName})}")
#set($peimaryKeyname = "${context.genInfo.toLowerAttr(${pKeyName})}")
package ${context.packageName}.model.$!{name.toLowerCase()};

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import java.util.Date;
import java.util.List;
import java.math.BigDecimal;
import com.fasterxml.jackson.annotation.JsonFormat;
#foreach($html in ${context.children})
import ${context.packageName}.model.${moduleName}.${html.className}Model;
#end

/**
 *
 * ${context.genInfo.description}
 * 版本: ${context.genInfo.version}
 * 作者： ${context.genInfo.createUser}
 * 日期： ${context.genInfo.createDate}
 */
@Data
@ApiModel
public class $!{context.className}ListVO {

    #foreach($fieLdsModel in ${context.fields})
        #set($html = $fieLdsModel.formColumnModel.fieLdsModel)
        #set($vModel = "${html.vModel}")
        #set($config = $html.config)
        #set($boosKey = "${config.boosKey}")
        #set($fieldName=${config.label})
    /**
     * ${fieldName}
     */
    @ApiModelProperty(value = "${fieldName}")
        #if(${boosKey}!='BOOSText' && ${boosKey}!='divider')
            #if(${boosKey}=='slider')
    private Integer ${context.genInfo.toLowerAttr(${vModel})};

            #elseif(${boosKey}=='createTime')
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    private Date  ${context.genInfo.toLowerAttr(${vModel})};

            #elseif(${boosKey}=='modifyTime')
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    private Date  ${context.genInfo.toLowerAttr(${vModel})};

            #elseif(${boosKey}=='date')
    private long  ${context.genInfo.toLowerAttr(${vModel})};

            #else
    private String ${context.genInfo.toLowerAttr(${vModel})};

            #end
        #end
    #end
    #set($peimaryKeyName = "${context.pKeyName}")
    private String ${peimaryKeyName};
}
