package ${package.Service};

import ${package.Entity}.${table.entityName};
import ${superServiceClassPackage};
import com.sinosoft.ie.booster.common.core.exception.WorkFlowException;
#if(${typeId}=='1')
#foreach($grid in ${child})
import ${package.Service}.${grid.className}Service;
import ${package.Entity}.${grid.className}Entity;
#end
#end

import java.util.*;

/**
 *
 * ${genInfo.description}
 * 版本： ${genInfo.version}
 * 作者： ${genInfo.createUser}
 * 日期： ${genInfo.createDate}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${table.entityName}> {

    #if(${typeId}=='1')
    #foreach($grid in ${child})
    List<${grid.className}Entity> get${grid.className}List(Long id);

    #end
    ${table.entityName} getInfo(Long id);

    void save(Long id,Long flowId, ${table.entityName} entity,String billNo#foreach($grid in ${child}), List<${grid.className}Entity> ${grid.className.substring(0,1).toLowerCase()}${grid.className.substring(1)}List#end) throws WorkFlowException;

    void submit(Long id, String freeApprover,Long flowId,${table.entityName} entity,String billNo#foreach($grid in ${child}), List<${grid.className}Entity> ${grid.className.substring(0,1).toLowerCase()}${grid.className.substring(1)}List#end) throws WorkFlowException;

    void data(Long id, String data);
    #end
}
